body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: #ff9800;
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
